.landingPage {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
}

@media (max-width: 400px) {
    .landingPage {
        height: 45vh;
    }
}