* {
    margin:0;
    padding:0;
  }

.headerContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-family: 'Quicksand', sans-serif;
}

.headerElement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
    width: 100px;
    height: 50px;
    align-items: center;
    transition: font-size 1s;
}

.headerElement:hover {
    font-size: 21px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

@media (max-width: 400px) {
    .headerElement {
        width: 70px;
    }

    .navLinks {
        overflow: hidden;
    }
}